header {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#BurgerMenu {
    cursor: pointer;
}
#BurgerMenu div {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px;
}
#TitlePrincess {
    display:flex;
    flex-direction: column;
    justify-content: end;
    font-weight: bold;
}


#SectionIntro {
    background-color: gray;
    height: 100px;
}

